:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);

  --accent-grey: hsl(204, 43%, 93%);
  --accent-blue: hsl(218, 22%, 67%);

  --primary-light-cyan: hsl(179, 62%, 43%, 0.8);
}
