@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);
  --accent-grey: hsl(204, 43%, 93%);
  --accent-blue: hsl(218, 22%, 67%);
  --primary-light-cyan: hsl(179, 62%, 43%, 0.8);
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--accent-grey);
  font-size: 100%;
  min-height: 100vh;
  display: grid;
}
@media (min-width: 800px) {
  body {
    place-content: center;
  }
}

.grid-span-col-2 {
  grid-column: auto;
}
@media (min-width: 800px) {
  .grid-span-col-2 {
    grid-column: span 2;
  }
}

.single-price-container {
  --content-padding: 1.5rem;
  display: grid;
  min-width: 23.4375em;
  margin: 2rem;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 0.5rem;
  max-width: 52em;
}
.single-price-container h2 {
  font-size: 1.2rem;
  font-weight: 700;
}
@media (min-width: 800px) {
  .single-price-container {
    grid-template-columns: 1fr 1fr;
    --content-padding: 3rem;
  }
  .single-price-container h2 {
    font-size: 1.5rem;
  }
}

.single-price-container > * {
  padding: var(--content-padding);
}

.our-community-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.our-community-title {
  color: var(--primary-cyan);
}

.our-community-subtitle {
  color: var(--primary-yellow);
  font-size: 1rem;
}
@media (min-width: 800px) {
  .our-community-subtitle {
    font-size: 1.2rem;
  }
}

.our-community-description {
  color: var(--accent-blue);
}
@media (min-width: 800px) {
  .our-community-description {
    font-size: 1.2rem;
  }
}

.subscription-container {
  background-color: var(--primary-cyan);
  color: white;
}

.subscription-price-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.subscription-price {
  font-size: 2rem;
  font-weight: 700;
}
@media (min-width: 800px) {
  .subscription-price {
    font-size: 2.3rem;
  }
}

.subscription-price-period {
  color: var(--accent-grey);
}
@media (min-width: 800px) {
  .subscription-price-period {
    font-size: 1.2rem;
  }
}

.subscription-price-description {
  color: var(--accent-grey);
}
@media (min-width: 800px) {
  .subscription-price-description {
    font-size: 1.2rem;
  }
}

.sign-up-button {
  border: transparent;
  border-radius: 0.25rem;
  background-color: var(--primary-yellow);
  width: 100%;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  margin-top: 1.5rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.sign-up-button:hover {
  filter: brightness(105%);
}
@media (min-width: 800px) {
  .sign-up-button {
    margin-top: 3rem;
  }
}

.why-us-container {
  background: var(--primary-light-cyan);
  color: white;
}

.why-us-reasons {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

.why-us-reasons li {
  color: var(--accent-grey);
}
@media (min-width: 800px) {
  .why-us-reasons li {
    font-size: 1.2rem;
  }
}